{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="card-body">
    <p>Welcome to StartingwithDevOps, your number one source for StartingwithDevOps. We're dedicated to giving you
      the very best of DevOps Knowledge, with a focus on Kubernetes, AWS Infra, Dockers.</p>
    </br>
    <p>Founded in 2019 by Akshay Gupta, StartingwithDevOps has come a long way from its beginnings in Kanpur. When Akshay Gupta first started out, his passion for Learning and Sharing drove them to quit day job so that
      StartingwithDevOps can offer you the world's best learning materials for those who are StartingwithDevOps.
      We now serve customers all over the world, and are thrilled that we're able to turn
      our passion into my own website.</p>
    </br>
    <p>I hope you enjoy my products as much as I enjoy offering them to you. If you have any
      questions or comments, please don't hesitate to contact me.</p>

    <p>Sincerely,</p>

    <p>Akshay Gupta</p>
  </div>
</div>

{% endblock content %}